*{
    box-sizing: border-box;
}
.body{
    background-color: rgb(105, 179, 179);
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0;
    min-height: 200vh;
}
.container{
    background-color:#2c3e50 ;
    height: 400px;
    width: 140px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;

}

.circle{
    background-color: rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 80px;
    border-radius: 100%;

}

.circle.red {
    background-color: rgb(167, 33, 33);
    box-shadow: 0 0 50px rgb(167, 33, 33);
}

.circle.yellow {
    background-color:rgb(236, 236, 87);
    box-shadow: 0 0 50px rgb(236, 236, 87);
}

.circle.green {
    background-color: green;
    box-shadow: 0 0 50px green;
}